body{
    background-image: url(level.png);
}


.he{
    background-color: rgb(75, 190, 81);
    border-radius: 50px;
}

pi{

    text-align: center;
}

h1{
    text-align: center;
}

p{
    border: 2px solid black;
    width: bold;
    margin: 100px;
    background-color: beige;
}

